.col_text {
  max-width: ;
  background-color: #efd9f0;
  background-size: cover;
  background-position: ;
}

footer {
  background-color: efd9f0;
}

div {
  margin-bottom: 2vw;
}

@media (min-width: 900px) {
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }
}
