.col_text {
  background-color: #efd9f0;
  background-size: cover;
}

footer {
  background-color: #efd9f0;
}

/* Maps rensponsive + center (aspectratio 16:9 --> 9/16x100 = 56.25%) */
.col_map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
}
.col_map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 900px) {
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }

  .col_text {
    display: flex;
    justify-content: center;
  }
}
