#first_section {
  margin: 0;
  padding: 0;
}

#first_section .section_wrapper {
  display: grid;
  gap: 0.2rem;
}

#first_section .rows {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
}

#first_section .element_1,
.element_4,
.element_5 {
  background-color: #9fbfa4;
  box-shadow: 10px 10px 50px gray inset;
  padding: 1rem;
  margin: 0.2rem;
}

#first_section .element_2,
.element_3,
.element_6 {
  background-color: #efd9f0;
  box-shadow: 2px 2px 2px gray;
  padding: 1rem;
  margin: 0.2rem;
}

#first_section img:hover {
  transform: scale(1.1);
}

#first_section .element_1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#first_section .element_2 {
  grid-column: 4 / 8;
  grid-row: 1 / 2;
}

#first_section .element_3 {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

#first_section .element_4 {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
}

#first_section .element_5 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

#first_section .element_6 {
  grid-column: 4 / 8;
  grid-row: 3 / 4;
}

#last_section {
  grid-column: 1 / 8;
}
