h1 {
  text-align: center;
  margin-top: 1vw;
}

/* ------------Splash----------------- */
#first_section.vid {
  height: 70%;
}

#first_section.head {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------Second section----------------- */

#second_section .col_text {
  text-align: center;
  background-color: #ffecde;
  background-size: cover;
  padding-top: 3vw;
  padding-bottom: 4vw;
}
#second_section .col_text p {
  margin-left: 8vw;
  margin-right: 8vw;
  letter-spacing: 2px;
}

/* ------------third_section----------------- */

#third_section {
  text-align: center;
  margin-top: 2vw;
}

#third_section h3 {
  margin-top: 1vw;
}

#third_section img {
  width: 80%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vw;
}

#third_section button {
  background-color: #fec3a6;
  border-radius: 20px;
  border: none;
  font-family: shelby, sans-serif;
  font-size: 4vw;
  cursor: pointer;
  margin-top: 1vw;
  cursor: pointer;
}

#third_section button:hover {
  background-color: beige;
  transform: scale(1.08);
}

#third_section a {
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) {
  #third_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
  }

  #third_section img {
    margin-top: 0;
  }

  #third_section button {
    font-size: 2vw;
  }
}
