/* ------------Generelt----------------- */

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

.index > section {
  grid-column: 2 / 3;
}

/* ------------Skrift----------------- */
