/* ------------Skrift----------------- */
#second_section {
  max-width: ;
  background-color: #efd9f0;
  background-size: cover;
  background-position: ;
}

h1 {
  margin-bottom: 5vw;
  display: flex;
  justify-content: center;
}
