/* ------------Generelt----------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  margin-bottom: 2vw;
}

.index > section {
  grid-column: 2 / 3;
}

section {
  margin-bottom: 4vw;
}

div {
  margin-bottom: 2vw;
}

/* ------------Header ----------------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

#grid {
  display: grid;
  grid-template-columns: 50px 2fr 40px 40px 40px 1fr;
  grid-auto-rows: auto;
  min-height: 5vh;
}

.menuknap {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid gray; */
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  margin-right: 1vw;
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  background-color: beige;
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  text-align: right;
  transition: all 1s ease-in-out;
}

#menu li a {
  font-family: baskerville-urw, serif;
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 10px;
  margin-right: 5vw;
}

/* header img {
display: grid;
grid-template-columns: ;
} */

.logo {
  margin: 1vw;
  width: 50px;
  height: 50px;
}

.icon_one,
.icon_two,
.icon_tree {
  margin: 2vw;

  width: 30px;
  height: 30px;
}

.icon_one {
  grid-column: 3 / 4;
}
.icon_two {
  grid-column: 4 / 5;
}

.icon_tree {
  grid-column: 5 / 6;
}

/* -----Overskrifter og tekst---- */
h1 {
  font-family: baskerville-urw, serif;
  font-size: 12vw;
  font-weight: 400;
  font-style: normal;
  color: beige;
}

h2 {
  font-family: shelby, sans-serif;
  font-size: 10vw;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: oswald, sans-serif;
  font-size: 4vw;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: oswald, sans-serif;
  font-size: 3vw;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
}

/* -----last section---- */

#last_section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* -----Footer---- */
footer {
  font-family: oswald, sans-serif;
  font-size: 3vw;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 1/4;
  background-color: #fff;
}

@media (min-width: 700px) {
  .menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

  #menu li a {
    font-size: 15px;
  }

  #menu a:hover {
    border-top: 1px solid #171f30;
    border-bottom: 1px solid#171f30;
    transition: 0.3s ease;
    padding: 5px;
    transition: all ease-in-out 250ms;
    color: #171f30;
  }

  header nav ul {
    display: flex;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    list-style-type: none;
    text-decoration: none;
  }

  #grid {
    display: grid;
    grid-template-columns: 60px 2fr 50px 50px 50px;
    grid-auto-rows: auto;
  }

  #menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    margin-left: 2vw;
  }

  #menu .icon_one {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: inline;
  }

  #menu .icon_two {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: inline;
  }

  #menu .icon_tree {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: inline;
  }

  .icons img {
    width: 50%;
    height: 58.3%;
  }

  header {
    display: block;
  }

  header img {
    margin: 5px;
    width: 30px;
    height: 30px;
    grid-column: 0 / 1;
    grid-row: 1 / 2;
    margin-top: 1vw;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 2vw;
  }

  p {
    font-size: 2vw;
  }
  footer {
    font-size: 2vw;
  }
}

#last_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  min-height: 10vh;
  align-items: center;
  background-color: beige;
  margin-bottom: 0;
}

#last_section article {
  margin-left: 10vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

#last_section li {
  margin-top: 1vw;
}

#last_section .contact {
  grid-column: 1 / 2;
}

#last_section .info {
  grid-column: 2 / 3;
}

#last_section .follow {
  grid-column: 3 / 4;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.2vw;
  }

  footer {
    font-size: 1.2vw;
  }
}
